body {
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px;
  font-family: 'Shanti', sans-serif;
}

#workableArea {
  -webkit-app-region: no-drag;
  font-family: sans-serif;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 320px;
  height: 480px;
  padding: 0px;
  background-color: black;
  border-radius: 10px;
}

#topBar {
  -webkit-app-region: drag;
  background-color: black;
  position: relative;
  left: 0%;
  top: 0%;
  width: 320px;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
}

#appName {
  position: relative;
  width: 25%;
  height: 100%;
  left: 1.25%;
  font-family: 'Shanti', sans-serif;
  font-size: 24px;
  color: red;
}

#exitApp {
  position: absolute;
  left: 292px;
  top: 4px;
  width: 24px;
  height: 24px;
}

#exitApp img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.itemContainer {
  position: relative;
  overflow-y: auto;
  left: 0%;
  top: 0%;
  width: 320px;
  height: 450px;
  border-top: 10px;
  border-radius: 0px 0px 10px 10px;
}

.genericItem {
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 16px;
  font-family: 'Shanti', sans-serif;
  width: 300px;
  height: 90px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #222222;
  color: red;
  display: table;

  /*Animation Stuff*/
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

.genericItem .descriptionText {
  position: absolute;
  left: 5px;
  top: 5px;
  color: red;
}

.genericItem .imagePreview {
  object-fit: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 90px;
  height: 90px;
  border-radius: 10px 0px 0px 10px;
}

.genericItem .imageText {
  position: absolute;
  width: 50px;
  height: 20px;
  top: 5px;
  left: 95px;
  color: red;
}

.genericItem .copyButton {
  position: absolute;
  left: 275px;
  top: 65px;
  width: 20px;
  height: 20px;
}

.copyButton img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.genericItem .deleteButton {
  position: absolute;
  left: 275px;
  top: 5px;
  width: 20px;
  height: 20px;
}

.deleteButton img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222222;
    border-radius: 10px;
}